/***** ******/
/*   Home   */
/***** ******/
body {
  width: 100%;
  background-image: url("https://www.nawpic.com/media/2020/genshin-impact-nawpic-10-scaled.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dilucHome,
.razorHome,
.childeHome,
.jeanHome,
.chongyunHome,
.xianglingHome,
.albedoHome {
  width: 45%;
  float: right;
  margin-left: 15px;
  margin-top: 10px;
}
.persoHome {
  height: 680px;
  text-align: center;
  margin-top: 15px;
  border: 2px solid black;
  padding: 5.5px;
  background-color: rgb(233, 224, 212, 0.85);
}
.col-md-3.col-sm-6 {
  margin-top: 40px;
}
.btnHome  {
  margin-bottom: 10px;
  margin-top: 50px;
}
.descriptionPerso {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  font-size: 18px;
}
.carac {
  text-align: left;
  list-style-type: none;
  border: 2px double black;
  border-width: 5.5px;
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  background-color: rgb(223, 206, 183);
}
#caracChong {
  margin-top: 69px;
}
.btn_play {
  width: 75%;
  margin-top: 8px;
  margin-left: 190px;
}
.divWeapon {
  margin-left: 40px;
  margin-right: -45px;
  margin-bottom: -16px;
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-left: 1.5px solid black;
  background-color: rgba(248, 238, 222, 0.8);
}
.armeHome {
  float: left;
  width: 15%;
  margin-left: 10px;
  margin-top: 15px;
  margin-right: 35px;
}
li {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ulWeapon {
  margin-top: 15px;
  list-style-type: square;
}
.liWeapon1 {
  list-style-type: none;
  text-align: center;
  margin-top: 24px;
}
#firstWeapon {
  margin-top: 15px;
}
.liWeapon2 {
  margin-left: 86px;
}
#divWeapon2 {
  margin-top: 15px;
}
#divWeapon7,
#divWeapon8 {
  border-bottom: 1px solid black;
  margin-top: 15px;
}
#divWeapon5,
#divWeapon6 {
  border-bottom: 1px solid black;
}
/***** ******/
/*  Board   */
/***** ******/
.caseVide,
.caseObstacle {
  height: 65px;
  width: 65px;
  border: solid 2px;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}
table {
  margin-top: 30px;
  margin-left: 20px;
  border-collapse: collapse;
  table-layout: fixed;
  float: left;
}
.caseObstacle {
  background-image: url("https://i.pinimg.com/originals/63/9e/e3/639ee336abefc1a6a1f40b97db9b409f.jpg");
}
.caseVide {
  background-image: url("https://i.pinimg.com/originals/4e/6c/39/4e6c395ecf5937912114f21606eac9ab.png");
}
.weaponBox {
  background-image: none;
}
.cellToClick {
  background-image: none;
  background-color: rgba(107, 204, 10, 0.774);
}
.cellToClick:hover {
  background-color: rgba(107, 204, 10, 0.349);
}

/***** ******/
/*  Player  */
/***** ******/
.Diluc {
  background-image: url("https://i.pinimg.com/564x/14/3c/ee/143cee249f14ef13091ea368ed6019d6.jpg") !important;
  background-size: cover;
  border: solid 2px;
}
.Childe {
  background-image: url("https://i.pinimg.com/474x/95/87/ae/9587aeacbe67dac6e10639677b4b635a.jpg") !important;
  background-size: cover;
  border: solid 2px;
}
.Razor {
  background-image: url("https://i.pinimg.com/564x/02/95/9b/02959b21ed97c5291e9926e3e89a5507.jpg") !important;
  background-size: cover;
  border: solid 2px;
}
.Jean {
  background-image: url("https://www.nautiljon.com/images/jeuxvideo_persos/00/78/jean_4587.jpg") !important;
  background-size: cover;
  border: solid 2px;
}
.Chongyun {
  background-image: url("https://danbooru.donmai.us/data/sample/f8/1f/sample-f81f55f057067bed7f8eb128ba7ea4b0.jpg") !important;
  background-size: cover;
  border: solid 2px;
}
.Xiangling {
  background-image: url("https://i.pinimg.com/originals/9f/89/bd/9f89bd7613917f4eb67704d3b929f1f2.jpg") !important;
  background-size: cover;
  border: solid 2px;
}
.Albedo {
  background-image: url("https://danbooru.donmai.us/data/sample/84/17/sample-8417d513eebf31a713ebc6faea6d042f.jpg") !important;
  background-size: cover;
  border: solid 2px;
}
/***** ******/
/*  Weapons */
/***** ******/
.ÉpéeDeNoob,
.ÉpéeDeNoob1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB2zBPsUQYOlaIIhsDlZuSA325N9LfNUHD_g&usqp=CAU");
  background-size: cover;
  border: solid 2px;
}
.Ombre {
  background-image: url("https://uploadstatic.mihoyo.com/ys-obc/2020/07/17/75795471/de66a13513908e11123998c9783c6ff7_2333625586375398616.png");
  background-size: cover;
  border: solid 2px;
}
.Faucon {
  background-image: url("https://uploadstatic.mihoyo.com/ys-obc/2020/07/17/75795471/935c2d06ae29f29e51b902d131782b18_2130159045735761471.png");
  background-size: cover;
  border: solid 2px;
}
.JadeAilée {
  background-image: url("https://uploadstatic.mihoyo.com/ys-obc/2020/07/17/75795471/cda9841711c3d126c81a531a02e94953_3658752798229410879.png");
  background-size: cover;
  border: solid 2px;
}
.Dragon {
  background-image: url("https://uploadstatic.mihoyo.com/ys-obc/2020/07/17/75795471/b753959a45fc9989e39dd945e8769e4a_7246305538033198382.png");
  background-size: cover;
  border: solid 2px;
}
.VoûteAzur {
  background-image: url("https://uploadstatic.mihoyo.com/ys-obc/2020/09/17/75833613/fe7b0e7f80a4e1c9876d27b89cbc93ec_7612540813795607024.png");
  background-size: cover;
  border: solid 2px;
}
.MortDuLoup {
  background-image: url("https://uploadstatic.mihoyo.com/ys-obc/2020/07/17/75795471/22b30db150bfea372b73678157955047_2297579049732759021.png");
  background-size: cover;
  border: solid 2px;
}
.Flûte {
  background-image: url("https://uploadstatic.mihoyo.com/ys-obc/2020/07/17/75795471/cf572b27ab0c4934984f05af1307888e_8924902473808502556.png");
  background-size: cover;
  border: solid 2px;
}
/*****  ******/
/* Interface */
/*****  ******/
#interface {
  margin-left: 50px;
}
#interfaceP1,
#interfaceP2 {
  border: solid 2px;
  margin-top: 15px;
  margin-left: 12px;
  padding-bottom: 30px;
  background-color: rgb(233, 224, 212, 0.85);
}
#interfaceP2 {
  margin-right: 12px;
}
#HpJ1,
#HpJ2 {
  text-align: center;
  margin-top: 10px;
}
#CCJ1,
#CCJ2 {
  margin-top: -25px;
}
#imgWeaponJ1,
#imgWeaponJ2 {
  height: 80px;
  margin-top: 30px;
  margin-left: 20x;
  float: left;
}
#imgPlayerJ1,
#imgPlayerJ2 {
  height: 200px;
  text-align: center;
}
h4 {
  text-align: center;
}
.button1 {
  float: left;
  margin-top: -10px;
  margin-left: 30px;
}
.button2 {
  float: right;
  margin-top: -10px;
  margin-right: 30px;
}
#enchantmentJ1,
#enchantmentJ2 {
  margin-top: -30px;
  margin-left: 5px;
}
#texte {
  border: solid 2px black;
  margin-top: 10px;
  height: 175px;
  opacity: 80%;
}
#zoneDeTexte {
  text-align: left;
}
#currentHpJ1,
#totalHpJ1,
#currentHpJ2,
#totalHpJ2 {
  color: rgb(5, 5, 131);
}
